.hero{
    background-image: url('../../images/istanbul.jpg');
    background-size: cover;
    background-position: center;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.hero h1{
    font-size: 3.5rem;
    margin-bottom:50px;
}
.hero p{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.info{
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    padding: 50px 0;
    text-align: center;
}

.info h1{
    font-size: 2.5rem;
    margin-bottom: 20px;
}