.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px; 
}

.bio{
    background-color: #dbd5d5;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.bio ul{
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    list-style: none;
    margin: 20px;
}
.bio ul li{
    margin: 10px;
}
.bio ul li span{
    color: white;
}

.bio div{
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.profile > img{
    width: 60%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.profile a{
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;

}
.profile a img{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 330px;
    height: 330px;
    margin-top: 40px;
    transition: 0.2s;
}

.profile a img:hover{
    transform: scale(1.1);
}

.profile a p{
    margin-top: 20px;
}